/* body{ */
     /* background-color: gray; */
/* } */
body{
     background: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8)), url('../img/background.jpg');
}

ul {
     list-style: none;
     padding: 0;
 }
 
 p {
     color: #444;
 }
 .border.p-0{
     /* height :150px; */
     margin: 0;
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
     padding: 15px;
     cursor: pointer;
 }
 .border.p-0:focus {
     outline: 0;
 }
 
 /* .container {
     max-width: 700px;
     margin: 0 auto;
     padding: 100px 50px;
     text-align: center;
 }
 
 .container h1 {
     margin-bottom: 20px;
 }
  */
 .page-description {
     font-size: 1.1rem;
     margin: 0 auto;
 }
 
 .tz-link {
     font-size: 1em;
     color: #1da7da;
     text-decoration: none;
 }
 
 .no-browser-support {
     display: none;
     font-size: 1.2rem;
     color: #e64427;
     margin-top: 35px;
 }
 
 .app {
     margin: 40px auto;
 }
 
 #note-textarea {
     margin: 20px 0;
 }
 
 #recording-instructions {
     margin: 15px auto 60px;
 }
 
 #notes {
     padding-top: 20px;
 }
 
 .note .header {
     font-size: 0.9em;
     color: #888;
     margin-bottom: 10px;
 }
 
 .note .delete-note,
 .note .listen-note {
     text-decoration: none;
     margin-left: 15px;
 }
 
 .note .content {
     margin-bottom: 40px;
 }
 
 @media (max-width: 768px) {
     .container {
         padding: 20px 25px;
     }
 
     .border.p-0 {
         margin-top: 10px;
         height: 30px;
     }
     .app{
         padding: 0 !important;
     }
 
 }   
 
 
 
 /* -- Demo ads -- */
 
 @media (max-width: 1200px) {
     #bsaHolder{ display:none;}
 }